@font-face {
  font-family: "Quicksand-Medium";
  src: url("../font/Quicksand-Medium.woff2") format("woff2"),
    url("../font/Quicksand-Medium.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand-regular";
  src: url("../font/Quicksand-Regular.woff2") format("woff2"),
    url("../font/Quicksand-Regular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand-Bold";
  src: url("../font/Quicksand-Bold.woff2") format("woff2"),
    url("../font/Quicksand-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: Quicksand-Medium;

  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000000;
}

.container {
  padding: 0;
  margin: 0 auto;
}

.header {
  padding-bottom: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.header .headingTop {
  overflow: hidden;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.section {
  min-height: 50px;
  margin: 0 auto;
}

.loadPage {
  position: relative;

  top: -10px;
  padding: 10px 20px;
  margin: 0px 40px;
  z-index: 1;
  border: 5px solid #f5821f;
  border-radius: 20px;
  background-color: #fff;
}

.footer {
  position: relative;
  width: 100%;
  background: #e8e9c2;
  display: flex;
  margin-top: -15px;
  padding-top: 15px;
  overflow: hidden;

  align-items: center;
}

.pageNumber {
  border: 3px solid #ea0a8c;
  border-radius: 13px;
  font-weight: bold;
  font-size: 30px;
  line-height: 68px;
  height: 76px;
  background-color: #fff;
}

.nextBtn,
.backBtn,
.showAnsBtn,
.resourseBtn,
.reloadBtnAll,
.reloadBtnScreen,
.helpBtn {
  cursor: pointer;
}

.resoursePopup,
.helpPopup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
  z-index: 1;
}

.titleAudio {
  cursor: pointer;
}

.disabled {
  opacity: 0.6;
  cursor: default !important;
  pointer-events: none;
}

.audioDragger {
  width: 100%;
  height: 55px;
  position: relative;
}

.audioDragContainer {
  background: url("../assets/images/timeline.png") no-repeat;
  width: 100%;
  height: 15px;
  top: 40%;
  cursor: pointer;
}

.audioDrag {
  height: 15px;
  width: 15px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  top: 0px;
  -webkit-transition: left 2s;
  transition: left 2s;
  left: 0;
  position: relative;
}

.audioPlayerContainer #pButton {
  cursor: pointer;
}

.audioPlayerContainer .play {
  background: url("../assets/images/play.png");
}

.audioPlayerContainer .pause {
  background: url("../assets/images/pause.png");
}

.marginNone {
  margin: 0;
}

.paddingNone {
  padding: 0;
}

.marginBottom-10 {
  margin-bottom: 10px;
}

.marginBottom-20 {
  margin-bottom: 20px;
}

.marginBottom-30 {
  margin-bottom: 30px;
}

.marginBottom-40 {
  margin-bottom: 52px;
}

.marginBottom-50 {
  margin-bottom: 50px;
}

.marginTop-10 {
  margin-top: 10px;
}

.marginTop-20 {
  margin-top: 20px;
}

.marginTop-30 {
  margin-top: 30px;
}

.marginTop-40 {
  margin-top: 40px;
}

.marginTop-50 {
  margin-top: 50px;
}

.inlineblock {
  display: inline-block;
}

.header .box1 {
  width: 68px;
  display: inline-block;
  margin: 1% 0% 1% 2%;
}

.box1 {
  width: 8%;
  display: inline-block;
  margin: 1% 2%;
}

.box2 {
  width: 10%;
  display: inline-block;
  margin: 1% 1%;
}

.box3 {
  width: 46%;
  display: inline-block;
  margin: 1% 1%;
}

.box4 {
  width: 13%;
  display: inline-block;
  text-align: center;
}

.boxhead5 {
  display: inline-block;
  margin: 1% 1%;
  margin-left: 2.5%;
}

.boxhead5 h1 {
  font-size: 3vw;
}

.slidecontainer {
  position: relative;
  top: 11.5px;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 0px;
  background: white;
  outline: none;
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  transition: step 1s ease-in;
}

.slider::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #fff;
  border-radius: 1.3px;
}

.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
  top: 11.5px;
}

body {
  margin: 0px;
  overflow: hidden;
}

#container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.page_content {
  width: 1280px;
  height: 960px;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: all 500ms ease-in-out !important;
  transition: all 500ms ease-in-out !important;
  position: absolute;
}

.controlsinline {
  margin: 26px;
}

.container-fluid {
  max-width: 1280px;
  max-height: 960px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.noPadding {
  padding: 0 !important;
}

.header {
  display: flex;
  height: 80px;
}

.headingTitle h1 {
  margin: 0;
  font-size: 38px;
}

.pageContainer {
  padding: 0 25px;
  position: relative;
  /* background-color: #00a651 !important; */
}

.pageContent {
  position: relative;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="28" height="49" viewBox="0 0 28 49"%3E%3Cg fill-rule="evenodd"%3E%3Cg id="hexagons" fill="%239C92AC" fill-opacity="0.15" fill-rule="nonzero"%3E%3Cpath d="M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');

  padding: 10px 0px;
  z-index: 1;
  border: 5px solid #00a651;
  border-radius: 20px;
  background-color: #fff;
}

.pageBg {
  background-color: #ff7905;
  position: absolute;
  left: 0;
  top: 15px;
  inset: 0;
  top: 15px;
}

.noPaddingRt {
  padding-right: 0 !important;
}

.noPaddingLt {
  padding-left: 0 !important;
}

.showAnsBtn img {
  margin: 0 auto;
}

.controlsDiv {
  /* background: url("../assets/images/draggerBG.png") no-repeat center; */
  height: 76px;
}

.resourseContainer,
.helpContainer {
  position: relative;
  width: 1260px;
  height: 460px;
  background-color: #fff;
  border: 5px solid #f5821f;
  border-radius: 20px;
  padding: 20px;
  position: fixed;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  cursor: pointer;
}

.floatNone {
  margin: 0 auto;
  float: none !important;
}

.marginTop-60 {
  margin-top: 60px;
}

.fnTemplate1_v2 .showAnswerCrossMark {
  animation-name: crossBlinker;
  animation-duration: 1s;
  opacity: 0;
}

.correctTick::after {
  content: " ";
  background: url("../assets/images/tikMark.png");
  position: absolute;
  top: 0px;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: contain;
  margin-left: -11px;
}

.incorrectTick::after {
  content: " ";
  background: url("../assets/images/crossMark.png");
  position: absolute;
  top: -2px;
  display: inline-block;
  height: 27px;
  width: 28px;
  background-size: contain;
  margin-left: -20px;
}

.option .showAnswerCrossMark {
  content: " ";
  background: url(../assets/images/crossMark.png) no-repeat;
  position: absolute;
  top: 25px;
  /* left: 586px; */
  display: inline-block;
  height: 32px;
  width: 60px !important;
  background-size: contain;
  margin-left: 33px;
  left: 118px !important;
}
.option .showAnswerCrossMark {
  animation-name: crossBlinker;
  animation-duration: 1s;
  opacity: 0;
}
